<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTLWINNhom12.Properties.Settings.QLBANMAYTINHConnectionString"
            connectionString="Data Source=DESKTOP-HUY\SQLEXPRESS;Initial Catalog=QLBANMAYTINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTLWINNhom12.Properties.Settings.QLBANMAYTINHConnectionString1"
            connectionString="Data Source=NGUYENDINHHUY\SQLEXPRESS;Initial Catalog=QLBANMAYTINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>